<h3>Blog Details</h3>
<table class="table" style="overflow:hidden;">
    <tr>
        <th style="width:300px">Content</th>
        <th style="width:400px">Image</th>
    </tr>
    <tr>
        <td style="width:300px;word-break: break-word;">
            <%=@blog.content%>
        </td>
        <td style="width:200px">
            <div  id="imgShow">
                <%=image_tag(@blog.image.url alt:'Image') if @blog.image?%>
            </div>
            
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-3">
        <span class="label label-primary" id="label1">
            <%= link_to 'Edit', edit_blog_path(@blog), :id => "sp1"%> 
        </span>
    </div>
    <div class="col-xs-3">
        <span class="label label-primary" id="label1">
            <%= link_to "Retour à la liste des Blogs", blogs_path, :id => "sp1"%> 
        </span>
    </div>
    <div class="col-xs-3"></div>
</div>