<main id="container">
  <article id="content">
    <p>Damnit stranger,</p>
    <p>You got lost in the <strong>404</strong> galaxy.</p>
    <p>
      <button>Back to Session</button>
      <a href="/sessions/new">Create an account</a>
    </p>
  </article>
</main>
