/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require errors.scss
 *= require blogs.scss
 *= require sessions.scss
 *= require users.scss
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_tree .
 *= require_self
 */

 
html, body{
    margin: 0;
    padding: 0;
}

.footer {
    width:100%;
    height:50px;
    position:fixed;
    text-align:center;
    left:0;
    bottom:0;
    color:white;
    background-color:#a39f95;
}

.footer p{
    margin-top: 17px;
}