<nav class="navbar navbar-inverse" style="background-color:#365899;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     <a class="navbar-brand" href="/sessions/new">Facebook Clone</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="color:white">
        <% if logged_in? %> 
          <li><a href="/blogs">Blog Page</a></li>
        <% else %> 
          <li><a href="/sessions/new">Create an account</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
